a.btn {
  text-decoration: none;
}

input[type="submit"] {
  border: none;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 7px 12px;
  color: #fdfdfd;
  text-shadow: 1px 1px 1px #777;
  font-size: 16px;
  background-color: $main-color;
  border-radius: 2px;
  @include clickable;
  border: 1px solid lighten($main-color, 1%);
  &:hover {
    background-color: lighten($main-color, 3%);
  }
  &:active {
    background-color: darken($main-color, 3%);
  }
}

.btn-white {
  $white: #f7f7f7;
  @extend .btn;
  background-color: $white;
  color: #323232;
  text-shadow: none;
  border: 1px solid lighten($white, 1%);
  &:hover {
    background-color: lighten($white, 3%);
  }
  &:active {
    background-color: darken($white, 3%);
  }
}
