<h2>Hey there!</h2>
<h4>Bugs are everywhere, thats why we created <em>FlySwatter</em> - the leader in internet technologies.</h4>

<%= link_to 'Get Script!', get_script_path(@user), class: 'btn btn-primary' %>
<br> <br>
<%= link_to 'See Bug Reports!', user_bug_reports_path(@user), class: 'btn btn-primary' %>
