<div class="hero-wrapper">
  <div class="slogan">
    A drop-in solution for bug reporting and feedback curation
    
    <%= link_to '30 Second Set Up', new_user_path, class: 'btn' %>

  </div>
  <%= image_tag 'fly_swatter.png', height: '300px' %>
</div>


