// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -----index-----
.hero-wrapper {
  padding: 60px 20px;
  img {
    display: inline-block;
  }
  .slogan {
    float: right;
    margin-top: 70px;
    display: inline-block;
    width: 400px;
    font-size: 22px;
  }
}

.learn-more {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

// toggle modal

.toggle-wrapper {
  padding: 60px 20px;
  .radio-container {
    text-align: center;
  }
  .content-container {
    .content {
      display: none;
    }
  }
}
