<div class="bugs-wrapper">
  <% @bug_reports.each do |report| %>
    <div class="bug-partial-wrapper">
      <%= distance_of_time_in_words_to_now(report.created_at) %> ago
      <br>
      <%= report.page_url %>
      <br>
      <%= report.description %>
      <br>
      <%= report.browser_info %>
    </div>
  <% end %>
</div>
